body{
  margin: 0;
  background-color: rgba(0, 255, 255, 0.089);
  
}


.header {
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 8px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.header-pic:hover{
  transform: rotate(360deg);
  transition: 1s ease-in-out;
}
.header h1{
  font-size: 40px;
  color: orange;
}

.header nav ul {
  list-style-type: none;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin-right: 15px;
}

.header nav a {
  color: white;
  text-decoration: none;
}

.header nav a:hover {
  text-decoration: underline;
}



/* profile */
.profile {
  text-align: center;
  padding: 20px;
}
.profile:hover {
  padding: 10px;
  transition: 0.5s ease-in-out;
}

.profile h2 {
  font-size: 40px;
}
.image {
  display: flex;
  justify-content: space-evenly;
  contain: content;
}

.profile-pic {
  /* border-radius: 50%; */
  width: 550px;
  height: 450px;
}

.profile p {
  max-width: 1000px;
  font-size: 18px;
  margin: 30px auto;
}

/* project */
.projects {
  padding: 20px;
  /* display: flex; */
}
.project-box{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.project-pic{
  width: 500px;
  
}
.project-pic:hover{
  width: 550px;
  transition: 0.4s ease-in-out;
  
}


.projects h2 {
  font-size: 40px;
  text-align: center;
}
.projects a {
  /* font-size: 24px; */
  padding-bottom: 10px;
}
.mainlinks{
  /* display: flex;
  justify-content: space-evenly; */
  width: 600px;
 
}
.mainlinks2{
  text-align: center;
  background-color: orange;
  border: 4px solid blue;
  color: black;
  padding: 25px 25px;
  border-radius: 20px;
  margin-top: 70px;
  
}

.projects ul {
  list-style-type: none;
  padding: 0;
}

.projects ul li {
  margin-bottom: 15px;
}

.projects ul li a {
  color: blue;
  text-decoration: none;
}

.projects ul li a:hover {
  text-decoration: underline;
  color: orangered;
}

/* contact */
.contact {
  text-align: center;
  padding: 20px;
  background-color: blue;
  color: white;
}

.contact h2 {
  font-size: 24px;
  color: orange;
}

.contact ul {
  list-style-type: none;
  padding: 0;
}

.contact ul li {
  margin-bottom: 10px;
}

/* tools start */
.tools-container{
  margin: 70px;

}
.tools{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tools-pic{
  width: 170px;
}
.tools-pic:hover{
  margin-top: 90px;
  transition: 0.5s ease-in-out;
}
.indi-tool{
  text-align: center;
}



@media(max-width: 425px){
  .header-pic{
    display: none;
  }
  .port-header{
    margin: auto;
  }

  .tools-pic{
    width: 100px;
  }


  .mainlinks{
    /* display: flex;
    justify-content: space-evenly; */
    width: 200px;
   
  }
}
@media(max-width: 320px){
  .tools-pic{
    width: 70px;
  }
}
